<nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">

                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" role="tab" href="{{ path('logout') }}" aria-selected="false">Deconnexion</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="{{ path('profil') }}" role="tab" aria-selected="false">Mon profil</a>
        </div>
</nav>
